In [5]:
!pip  install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     ------                                41.0/250.0 kB 653.6 kB/s eta 0:00:01
     -----------------                      112.6/250.0 kB 1.3 MB/s eta 0:00:01
     -----------------------------          194.6/250.0 kB 1.5 MB/s eta 0:00:01
     -------------------------------------  245.8/250.0 kB 1.7 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.3 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:

from transformers import AutoTokenizer, AutoModelForSequenceClassification
import torch

D:\Data Analyst test\data\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data=pd.read_excel("data.xlsx")
data.head()

                                              Review       date     Location
0  I was very impressed with the resort.\n Great ... 2019-08-20    Sebastian
1  The rooms were nice the outside needs work als... 2019-08-20  Los Angeles
2  Great location! I have stayed at this hotel on... 2019-08-20      Georgia
3  The hotel was adequate for my stay. The strips... 2019-08-20          NaN
4  Great location, room was large and spacious. P... 2019-08-19  Palm Harbor

In [7]:
nan_count = data.isna().sum()

In [8]:
nan_count

Review        55
date           0
Location    4737
dtype: int64

In [9]:
data.describe()

                                date
count                           6448
mean   2019-02-06 15:55:09.677419264
min              2018-08-01 00:00:00
25%              2018-11-10 00:00:00
50%              2019-02-04 00:00:00
75%              2019-05-01 00:00:00
max              2019-08-20 00:00:00

In [10]:
from transformers import BertTokenizer, BertForSequenceClassification

# Load a pre-trained BERT model and tokenizer
tokenizer = BertTokenizer.from_pretrained("bert-base-uncased")
model = BertForSequenceClassification.from_pretrained("bert-base-uncased")

# Define your keyword(s)
keyword = "important"

# Encode the text to be classified
text = "This document contains important information."

inputs = tokenizer(text, return_tensors="pt", padding=True, truncation=True)

# Perform inference to classify text based on the presence of the keyword
outputs = model(**inputs)
logits = outputs.logits
probabilities = logits.softmax(dim=1)

Downloading (…)solve/main/vocab.txt: 100%|███████████████████████████████████████████████████████████████████████████████| 232k/232k [00:00<00:00, 481kB/s]
D:\Data Analyst test\data\lib\site-packages\huggingface_hub\file_download.py:133: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\hp\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Downloading (…)okenizer_config.json: 100%|██████████████████████████████████████████████████████████████████████████████| 28.0/28.0 [00:00<00:00, 27.2kB/s]
Downloading (…)lve/main/config.json: 100%|█████████████████████████████████████████████████████████████████████████████████| 570/570 [00:00<00:00, 577kB/s]
Downloading model.safetensors: 100%|████████████████████████████████████████████████████████████████████████████████████| 440M/440M [04:11<00:00, 1.75MB/s]
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [14]:
probabilities

tensor([[0.4703, 0.5297]], grad_fn=<SoftmaxBackward0>)

In [ ]:
text='Les chambres familiales sont pratiques (nous étions 7 et c'est agréable d'être tous ensemble). Cependant, le personnel est exécrable ! L'individu à l’accueil s'est permis de dire à mon mari qu'il était "trop lent" lors de '